{% extends 'hay/main.html' %}
{% load static %}
{% block content %}


<div id="form-wrapper">
    <form action="/p/quote.php" method="GET">
        <h1 id="form-title">How are you feeling this morning?</h1>
        <div id="hay-slider">
            <input type="radio" name="mood-option" id="1" value="1" required>
            <label for="1" data-mood-option="Not so well"></label>
            <input type="radio" name="mood-option" id="2" value="2" required>
            <label for="2" data-mood-option="I'm alright"></label>
            <input type="radio" name="mood-option" id="3" value="3" required>
            <label for="3" data-mood-option="Pretty okay"></label>
            <input type="radio" name="mood-option" id="4" value="4" required>
            <label for="4" data-mood-option="Feeling good"></label>
            <input type="radio" name="mood-option" id="5" value="5" required>
            <label for="5" data-mood-option="Amazing!"></label>
        </div>
    </form>
</div>

{% endblock content %}